<!DOCTYPE html>
<html ng-app="app" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Корзина</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="main.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>

    <script src="cart.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-controller="indexController">
<div class="container-fluid">
    <header>
        <div class="container">
            <div th:insert="header :: header"></div>
        </div>
    </header>

    <main>
        <div class="container">
            <div  ng-if="cartNotEmpty"><a href = "#" role="button" class="btn btn-danger" ng-click="clearCart()">Удалить все из корзины</a></div>
            <div  ng-if="!cartNotEmpty"><h3 class="text-info" align = "center">Корзина пуста!</h3></div>
            <table class="table table-hover"  ng-if="cartNotEmpty">
                <thead class="thead-default">
                <tr>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="c in cartDetail">
                    <td>{{c.product.title}}</td>
                    <td>{{c.price}}</td>
                    <td><button type="button" class="btn btn-info" ng-click="decreaseItem(c.product.id)">-</button>{{c.quantity}}<button type="button" class="btn btn-info" ng-click="addItem(c.product.id)">+</button></td>
                    <td>{{c.totalPrice}}</td>
                    <td><a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" ng-click="deleteItem(c.product.id)">Удалить</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">ИТОГО: <span>{{cartSummary}}</span></td>
                </tr>
                </tfoot>
            </table>
            <span id = "cart_message_block"></span>

            <div ng-show="cartNotEmpty">

            <form novalidate ng-submit="createOrder()">
                <div class="form-group col-md-6">
                    <label for="destinationField">Адрес доставки</label>
                    <input class="form-control" type="text" ng-model="address" id="destinationField" required>
                </div>
                <p></p>
                <div class="form-group col-md-6">
                    <label for="phoneField">Телефон получателя</label>
                    <input class="form-control" type="text" ng-model="phone" id="phoneField" required>
                </div>
                <p></p>
                <div>
                    <button ng-show="isUserLoggedIn()" class="btn btn-primary" type="submit">Оформить заказ</button>
                    <button ng-show="!isUserLoggedIn()" class="btn btn-secondary">Выполните вход для заказа</button>
                </div>
            </form>

            </div>
        </div>
    </main>

    <!-- FOOTER -->
    </br>
    <footer>
        <div class="container">
            <div th:insert="footer :: copy"></div>
        </div>
    </footer>
</div>
</body>
</html>