<main>
    <div class="container">
    <h3>Оформление заказа</h3>
    <div>
        <table class="table">
            <thead>
            <tr>
                <td>Изображение</td>
                <td>Название</td>
                <td>Количество</td>
                <td>Цена</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="oi in order.items">
                <td><img width="80px" height="80px" src="{{baseURL_products + oi.product.id}}/getimage/small"></td>
                <td>{{oi.product.title}}</td>
                <td>
                    {{oi.quantity}}
                </td>
                <td>{{oi.quantity + ' x ' + oi.price + ' = ' + oi.price}}</td>
            </tr>
            <tr>
                <td>Итого</td>
                <td></td>
                <td></td>
                <td>{{order.price}}</td>
            </tr>
            </tbody>
        </table>
        <p></p>
        <p id="cancelOrder" class = "p-3 mb-2 text-white bg-danger" >Отменить заказ</p>
        <p></p>
        <p id="orderStatus" class = "p-3 mb-2 text-white" ng-class="{'bg-danger' : orderNotPaid==true, 'bg-success' : orderNotPaid==false}">{{order.statusView}}</p>
        <p></p>
        <div id="paypal-buttons" ng-if="orderNotPaid==true"></div>
    </div>
    </div>
</main>